/* =========================================
    SEÇÃO DE PLANOS 
========================================= */

.plans { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    margin-top: 120px; 
    width: 100%; 
}
    
.plans-title { 
    font-size: clamp(1.8rem, 3.2vw, 2.6rem); 
    font-weight: bold; 
    margin-bottom: 60px; 
    color: var(--color-text); 
}

.plans-container { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 30px; 
    width: 100%; 
}

/* Responsivo do Contêiner */
@media (max-width: 992px) {
    .plans-container { 
        display: flex; 
        gap: 20px; 
        padding: 0 10px; 
        padding-left: calc(50% - 160px); 
        padding-right: calc(50% - 160px); 
    }
}